/*BASE CSS */
.global-content-back{
    margin-left: 300px;
    min-height: 100%;
    background-color: var(--main-white);
}

.nav-bar-back {
    background-color: #FFFFFF;
}

/*TABLEAUX*/
.table-back {
    background-color: #FFFFFF;
    border-radius: 10px;
    font-size: 14px;
}
.table-back .header-gold {
    background-color: var(--main-gold);
    color: var(--main-dark);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2em;
    min-height: 89px;
}
.table-back .header-blue {
    background-color: var(--main-blue);
    color: var(--main-white);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 2em;
    min-height: 89px;
}