/*BASE CSS */
.global-content-front{
    padding-top: 150px;
}

/*CARD PRODUCT*/
.card-product {
    border-radius: 12px;
    border: 2px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
}

.card-product img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}