/*BASE CSS */
.global-content-front{
    padding-top: 150px;
    background: #f3f3f3;
}

/*HOME*/
.banner-home {
    height: 600px;
    max-height: 600px;
    background-image: url("https://jey.xokola.fr/img/banner-home.jpg");
    background-size: cover;
    background-position-y: center;
}

/*CARD PRODUCT*/
.card-product {
    border-radius: 12px;
    border: 2px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
}

.card-product img {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    object-fit: cover;
}