{% extends '/admin/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block body %}
    <h2 class="fs-22 mb-4">Utilisateurs</h2>
    <div class="table-back mb-4">
        {{ component('Admin:Table:Header', {buttons:[
            { tag: 'a', text: 'Ajouter un utilisateur', route: 'app_admin_user_new', class: 'secondaryadmin' },
            { tag: 'a', text: 'Filtrer', class: 'secondaryadmin' }],
            sort_filters:[
                { value: 'id', text: 'ID' },
                { value: 'name', text: 'Nom' },
                { value: 'firstName', text: 'Prénom' },
                { value: 'pseudo', text: 'Pseudo' },
                { value: 'email', text: 'Email' }]
        }) }}
        {{ component('Admin:Table:Table', {
            titles: ['Id','Nom','Prénom','Pseudo','Email',''],
            cols: ['col-span-1','col-span-2','col-span-2','col-span-2','col-span-4','col-span-1'],
            datas: datas,
            features: ['','','','','','flex justify-end'],
            url: 'app_admin_user_edit'
        }) }}
    </div>
{% endblock %}