{% extends '/front/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block body %}
    <div class="container mx-auto px-2 py-6 pb-20 flex gap-x-6 lg:py-20 lg:w-3/4">
        {{ component('Front:Nav:NavAccount',{}) }}
        <div class="w-full md:w-3/4">
            <div class="bg-fullwhite p-4 mb-4 md:p-8">
                <div class="md:flex md:justify-between mb-4">
                    <p class="text-xl text-primary font-bold">Profil</p>
                    <p class="text-sm text-gray">Dernière mise à jour : {{ app.user.updatedAt|custom_time }}</p>
                </div>
                {{ component('Global:Alert:Alert',{}) }}
                {% include '/front/user/account/_form_account.html.twig' %}
            </div>
            <div class="bg-fullwhite p-4 md:p-8">
                <div class="md:flex md:justify-between">
                    <p class="text-xl text-primary font-bold">Notifications</p>
                    <p class="text-sm text-gray">Dernière mise à jour : {{ app.user.updatedAt|custom_time }}</p>
                </div>
                <p class="text-gray mb-4">Veuillez selectionnez les notifications que vous voulez recevoir</p>
                <div>
                    {% include '/front/user/account/_form_notifications.html.twig' %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}