{% extends '/front/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block body %}
    <div class="container mx-auto grid text-center gap-y-4 mb-4 p-4">
        {% set items = [
            ['Mon profil','app_front_user_show', {'pseudo': app.user.pseudo}],
            ['Mes paramètres','app_front_user_account_parameters'],
            ['Mes favoris','app_front_favorite'],
        ] %}
        {% for item in items %}
            {{ component('Front:Nav:NavAccountItemMobile',{
                item: item
            }) }}
        {% endfor %}
        {% if is_granted('ROLE_ADMIN') %}
            {{ component('Front:Nav:NavAccountItemMobile',{
                item: ['Administration','app_admin_dashboard']
            }) }}
        {% endif %}
        <div class="mt-8">
            {{ component('Global:Button', { tag: 'a', text: "Déconnexion", route: 'app_logout', class: 'primary' }) }}
        </div>
    </div>
{% endblock %}

