{% extends '/front/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block body %}
    {% set items = [
        [app.user.pseudo, 'app_front_user_show', {pseudo: app.user.pseudo}],
        ['Avis', 'app_front_user_account_assessment']
    ] %}
    {{ component('Front:Breadcrumb:Breadcrumb', { items: items }) }}

    <div class="container mx-auto px-2 py-6 pb-20 flex gap-x-6 lg:w-3/4">
        {{ component('Front:Nav:NavAccount',{}) }}
        <div class="bg-fullwhite w-full p-4 md:w-3/4 md:p-8">
            <p class="text-xl text-primary font-bold mb-4">Avis</p>
            <div class="flex gap-x-4 mb-4">
                <p id="nav-recipients" onclick="switchAssessment('recipients','depositors')" class="underline decoration-secondary decoration-2 underline-offset-8 hover:underline hover:decoration-secondary hover:decoration-2 hover:underline-offset-8">Reçus</p>
                <p id="nav-depositors" onclick="switchAssessment('depositors','recipients')" class="hover:underline hover:decoration-secondary hover:decoration-2 hover:underline-offset-8">Laissés</p>
            </div>
            <div id="recipients" class="grid gap-y-4">
                {% for assessment in app.user.assessmentsRecipient|sort((a, b) => b.updatedAt <=> a.updatedAt) %}
                    {{ component('Front:Assessment:AssessmentComponent', { assessment_id: assessment.id, type: "recipient" }) }}
                {% endfor %}
            </div>
            <div id="depositors" class="grid gap-y-4 hidden">
                {% for assessment in app.user.assessmentsDepositor|sort((a, b) => b.updatedAt <=> a.updatedAt) %}
                    {{ component('Front:Assessment:AssessmentComponent', { assessment_id: assessment.id, type: "depositor" }) }}
                {% endfor %}
            </div>
        </div>
    </div>

    <script>
        function switchAssessment(idDisplay, idHidden){
            assessmentsDisplay = document.querySelector('#'+idDisplay);
            assessmentsHidden = document.querySelector('#'+idHidden);

            assessmentsDisplay.classList.remove('hidden');
            assessmentsHidden.classList.add('hidden');

            navDisplay = document.querySelector('#nav-'+idDisplay);
            navHidden = document.querySelector('#nav-'+idHidden);

            navDisplay.classList.add('underline');
            navDisplay.classList.add('decoration-secondary');
            navDisplay.classList.add('decoration-2');
            navDisplay.classList.add('underline-offset-8');

            navHidden.classList.remove('underline');
            navHidden.classList.remove('decoration-secondary');
            navHidden.classList.remove('decoration-2');
            navHidden.classList.remove('underline-offset-8');
        }
    </script>
{% endblock %}

