<div class="rounded-lg text-nowrap h-fit px-4 py-2 me-2 mb-4 bg-warning text-warningdark">
    <p>Votre mot de passe doit contenir :</p>
    <ul class="list-disc px-4">
        <li>Au minimum <b>6 caractères</b></li>
        <li>Au minimum <b>1 chiffre [0-9]</b></li>
        <li>Au minimum <b>1 lettre [a-z] ou [A-Z]</b></li>
        <li>Au minimum <b>1 caractère spécial</b></li>
    </ul>
</div>