<form class="w-full" method="post" action="{{ path('app_front_product_report', {'uuid': uuid }) }}"
      onsubmit="return confirm('Voulez vous vraiment signaler cette annonce ?');">
    <button type="submit"><i class="fa-regular fa-flag" aria-hidden="true"></i></button>
</form>