<form class="w-full" method="post" action="{{ path('app_front_product_contact', {'uuid': uuid }) }}">
    {{ component('Global:Button',{
        tag: 'button',
        text: "Contacter le vendeur",
        class: class,
        custom_class: custom_class
    }) }}
</form>