<form method="post" action="{{ path('app_admin_notification_type_delete', {'id': notification_type.id}) }}"
      onsubmit="return confirm('Voulez vous vraiment supprimer ce type de notifications ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ notification_type.id) }}">
    {{ component('Global:Button',{
        tag: 'button',
        text: 'Supprimer',
        class: 'delete'
    }) }}
</form>
