<form method="post" action="{{ path('app_admin_assessment_reply_delete', {'id': reply.id}) }}"
      onsubmit="return confirm('Voulez vous vraiment supprimer cette réponse ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ reply.id) }}">
    {{ component('Global:Button',{
        tag: 'button',
        text: 'Supprimer',
        class: 'delete'
    }) }}
</form>
