<div class="content-form {% if class is defined %}{{ class }}{% endif %}" id="{{ id }}">
    {% for input in inputs %}
        {{ component(input.component, {
            form: input.form,
            input_name: input.input_name,
            attributs: input.attributs is defined ? input.attributs : [],
            type: input.type is defined ? input.type : 'input',
            id_player: input.id_player is defined ? input.id_player : '',
            id_team: input.id_team is defined ? input.id_team : '',
            id_league: input.id_league is defined ? input.id_league : ''
        }) }}
    {% endfor %}
</div>