<form method="post" action="{{ path('app_admin_assessment_delete', {'id': assessment.id}) }}"
      onsubmit="return confirm('Voulez vous vraiment supprimer cet avis ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ assessment.id) }}">
    {{ component('Global:Button',{
        tag: 'button',
        text: 'Supprimer',
        class: 'delete'
    }) }}
</form>
