<div {{ attributes }}>
    <div class="flex gap-x-2">
        {% if this.isLike == false %}
            <button
                    data-action="live#action"
                    data-action-name="add"
                    class="text-secondary"
            >
                <i class="fa-light fa-heart"></i>
            </button>
        {% else %}
            <button
                    data-action="live#action"
                    data-action-name="delete"
                    class="text-secondary"
            >
                <i class="fa-solid fa-heart"></i>
            </button>
        {% endif %}
        {{ this.countLikes }}
    </div>
</div>