{% extends '/admin/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block body %}
    {{ component('Admin:TitlePage', { title: 'Tableau de bord' }) }}
    <div class="grid gap-y-4">
        <div class="grid gap-y-4">
            <h2 class="text-xl font-bold">Maillots</h2>
            <div class="grid grid-cols-6 gap-x-4 gap-y-4">
                {% set items = [
                    ['Annonces','app_admin_product','fa-regular fa-coins'],
                    ['Sports','app_admin_sport','fa-regular fa-basketball'],
                    ['Ligues','app_admin_league','fa-regular fa-trophy'],
                    ['Équipes','app_admin_team','fa-sharp fa-regular fa-people-group'],
                    ['Joueurs','app_admin_player','fa-regular fa-person-running'],
                    ['Marques','app_admin_brand','fa-regular fa-tag'],
                    ['Matières','app_admin_textil','fa-regular fa-reel'],
                    ['Couleurs','app_admin_color','fa-regular fa-droplet'],
                ] %}
                {% for item in items %}
                    {{ component('Admin:Dashboard:DashboardItem',
                        { text: item[0],route: item[1],icon: item[2] }) }}
                {% endfor %}
            </div>
        </div>
        <div class="grid gap-y-4">
            <h2 class="text-xl font-bold">Utilisateurs</h2>
            <div class="grid grid-cols-6 gap-x-4 gap-y-4">
                {% set items = [
                    ['Utilisateurs','app_admin_user','fa-regular fa-user'],
                    ['Départements','app_admin_department','fa-regular fa-map'],
                    ['Avis & Réponses','app_admin_assessment','fa-regular fa-star'],
                    ['Signalements','app_admin_alert','fa-regular fa-circle-exclamation'],
                    ['Conversations','app_admin_conversation','fa-regular fa-messages'],
                    ['Abonnements','app_admin_subscription','fa-regular fa-user-plus']
                ] %}
                {% for item in items %}
                    {{ component('Admin:Dashboard:DashboardItem',
                        { text: item[0],route: item[1],icon: item[2] }) }}
                {% endfor %}
            </div>
        </div>
        <div class="grid gap-y-4">
            <h2 class="text-xl font-bold">Administration</h2>
            <div class="grid grid-cols-6 gap-x-4 gap-y-4">
                {% set items = [
                    ['Notifications','app_admin_notification','fa-regular fa-bell'],
                    ['Types de notifications','app_admin_notification_type','fa-regular fa-bell'],
                    ['Demandes de contact','app_admin_contact','fa-regular fa-question'],
                ] %}
                {% for item in items %}
                    {{ component('Admin:Dashboard:DashboardItem',
                        { text: item[0],route: item[1],icon: item[2] }) }}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}