<!DOCTYPE html>
<html class="h-full">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/png" href="/img/logo_carre_jaune.png">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            <script src="https://kit.fontawesome.com/7056fd5bbf.js" crossorigin="anonymous"></script>
        {% endblock %}

        {% block javascripts %}
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body class="flex h-full bg-white">
    {# ['Dashboard','app_admin_dashboard','fa-regular fa-gauge','dashboard'], #}
        {% set nav_items = [
            ['Maillots','Annonces, joueurs, sports...',[
                ['Annonces','app_admin_product','fa-regular fa-coins','product'],
                ['Sports','app_admin_sport','fa-regular fa-basketball','sport'],
                ['Ligues','app_admin_league','fa-regular fa-trophy','league'],
                ['Équipes','app_admin_team','fa-sharp fa-regular fa-people-group','team'],
                ['Joueurs','app_admin_player','fa-regular fa-person-running','player'],
                ['Marques','app_admin_brand','fa-regular fa-tag','brand'],
                ['Couleurs','app_admin_color','fa-regular fa-droplet','color']
            ]],
            ['Utilisateurs','Comptes, localisation, avis...',[
                ['Utilisateurs','app_admin_user','fa-regular fa-user','user'],
                ['Départements','app_admin_department','fa-regular fa-map','department'],
                ['Avis & Réponses','app_admin_assessment','fa-regular fa-star','assessment'],
                ['Signalements','app_admin_alert','fa-regular fa-circle-exclamation','alert'],
                ['Conversations','app_admin_conversation','fa-regular fa-messages','conversation']
            ]]
        ] %}
        {{ component('Admin:Nav:Nav', { items: nav_items }) }}
        <div class="w-full ml-[300px]">
            <div class="bg-fullwhite w-full py-3 px-5">
                <h2>Dashboard</h2>
            </div>
            <div class="py-4 px-5">
                {% block body %}{% endblock %}
            </div>
        </div>
    </body>
</html>
