<div {{ attributes }}>
    <div class="mt-4">
        {% if this.isSubscribe == false %}
            <button
                    data-action="live#action"
                    data-action-name="add"
                    class="text-center rounded-lg text-nowrap h-fit px-4 py-2 me-2 bg-secondary border border-secondary text-primary hover:bg-primary hover:bg-primary hover:text-secondary"
            >
                S'abonner
            </button>
        {% else %}
            <button
                    data-action="live#action"
                    data-action-name="delete"
                    class="text-center rounded-lg text-nowrap h-fit px-4 py-2 me-2 bg-secondary border border-secondary text-primary hover:bg-primary hover:bg-primary hover:text-secondary"
            >
                Se désabonner
            </button>
        {% endif %}
    </div>
</div>