{% extends '/front/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block javascripts %}

{% endblock %}

{% block body %}
    <div class="container-xxl py-2">
        <div class="row">
            <h1 class="fs-30 mb-2">{{ sport.title }}</h1>
        </div>
        <div class="row row-cols-5 d-flex">
            {% for product in products %}
                {% include 'front/assets/product/card.html.twig' with {
                    'product' : product
                } %}
            {% endfor %}
        </div>
    </div>
{% endblock %}

