{% extends '/front/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block body %}
    {{ component('Front:Banner', { title: sport.title }) }}

    {% set items = [
        [sport.title, 'app_front_sport_show', {'slug': sport.id|trans~'-'~sport.title}]
    ] %}
    {{ component('Front:Breadcrumb:Breadcrumb', { items: items }) }}

    {{ component('Front:Filter:Filter', { sport : sport }) }}

    <div class="container px-20 mx-auto py-2 mb-20">
        {{ component('Front:Product:ProductListing', {listing : 'sportProducts', sport_id : sport.id, cols: 5 }) }}
    </div>
{% endblock %}

