{% extends '/back/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block body %}
    <script>{% include '/back/team/js.js.twig' %}</script>
    <h2 class="fs-22 mb-4">Équipes</h2>
    <div class="table-back mb-4">
        <div class="header-gold">
            <p class="fs-22">Ajouter</p>
        </div>
        <div class="container w-100 py-3 px-5 m-0">
            {{ include('/back/team/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
