<form method="post" action="{{ path('app_admin_team_delete', {'id': team.id}) }}"
      onsubmit="return confirm('Voulez vous vraiment supprimer cette équipe ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ team.id) }}">
    {{ component('Global:Button',{
        tag: 'button',
        text: 'Supprimer',
        class: 'delete'
    }) }}
</form>
