{% extends '/admin/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block body %}
    <h2 class="fs-22 mb-4">Équipes</h2>
    <div class="table-back mb-4">
        {{ component('Admin:Table:Header', {buttons:[
            { tag: 'a', text: 'Ajouter une équipe', route: 'app_admin_team_new', class: 'secondaryadmin' },
            { tag: 'a', text: 'Filtrer', class: 'secondaryadmin' }],
            sort_filters:[
                { value: 'id', text: 'ID' },
                { value: 'title', text: 'Nom' },
                { value: 'city', text: 'Ville' },
                { value: 'sport', text: 'Sport' },
                { value: 'league', text: 'Ligue' }]
        }) }}
        {{ component('Admin:Table:Table', {
            titles: ['Id','Nom','Ville','Sport','Ligue',''],
            cols: ['col-span-1','col-span-2','col-span-2','col-span-2','col-span-2','col-span-3'],
            datas: datas,
            features: ['','','','','','flex justify-end'],
            url: 'app_admin_team_edit'
        }) }}
    </div>
{% endblock %}