.btn-blue-plein {
    background-color: var(--main-blue);
    color: var(--main-white)!important;
    border-radius: 5px;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 14px;
    margin: 0 0.5em;
    border: none;
    display: block;
    text-wrap: nowrap;
}
.btn-blue-plein:hover {
    background-color: var(--main-gold);
    color: var(--main-dark)!important;
}
.btn-gold-plein {
    background-color: var(--main-gold);
    color: var(--main-blue);
    border-radius: 5px;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 14px;
    margin: 0 0.5em;
    border: none;
    display: block;
    text-wrap: nowrap;
}
.btn-gold-plein:hover {
    background-color: var(--main-blue);
    color: var(--main-gold)!important;
}
.btn-blue-vide {
    color: var(--main-blue)!important;
    border: solid 1px var(--main-blue)!important;
    border-radius: 5px;
    text-decoration: none;
    padding: 0.5em 1em;
    font-size: 14px;
    margin: 0 0.5em;
    display: block;
    text-wrap: nowrap;
}
.btn-blue-vide:hover {
    background-color: var(--main-gold);
    color: var(--main-dark)!important;
}