/* BACK */
.menu {
    position: fixed;
    width: 300px;
    background-color: var(--main-blue);
}

.menu a, .menu i{
    text-decoration: none!important;
    color : var(--main-white);
}

.title-header-back{
    color : var(--main-white);
}

.element-menu:hover, .active-menu {
    background-color: var(--main-gold);
}
.element-menu:hover a,.element-menu:hover i,
.active-menu a, .active-menu i{
    color : var(--main-blue);
}
