<footer class="fs-20 p-5 d-flex flex-column align-items-center">
<a href="{{ path('app_front_home') }}"><img class="my-3" width="200px" src="/img/logo_bleue.png"></a>
    <p class="my-3">Suivez nous sur</p>
    <div class="my-3">
        <a href="#"><i class="fa-brands fa-instagram fa-2xl mx-3"></i></a>
        <a href="#"><i class="fa-brands fa-facebook fa-2xl mx-3"></i></a>
        <a href="#"><i class="fa-brands fa-x-twitter fa-2xl mx-3"></i></a>
    </div>
    <nav>
        <a href="#">Mentions légales</a>
        <span>|</span>
        <a href="#">Politique de confidentialité</a>
        <span>|</span>
        <a href="https://www.linkedin.com/in/romain-vach%C3%A9-75164b199/" target="_blank">Par Romain VACHÉ</a>
    </nav>
</footer>



