<footer class="hidden bg-secondary text-primary py-10 px-20 md:block">
    <div class="grid grid-cols-12 py-8">
        <div class="col-span-3">
            <a href="{{ path('app_front_home') }}"><img class="my-3" width="100px" src="/img/logo_bleue.png"></a>
        </div>

        {{ component('Front:Footer:FooterCol', {
            title: 'Pour vous',
            items: [
                ['Comment ça marche ?','app_front_page_presentation'],
                ['Nos conseils','app_front_page_advice'],
                ['Questions récurentes','app_front_page_faq'],
            ]
        }) }}

        {{ component('Front:Footer:FooterCol', {
            title: 'Jey',
            items: [
                ['Politique de confidentialité','app_front_home'],
                ['Mentions légales','app_front_home'],
            ]
        }) }}

        {{ component('Front:Footer:FooterCol', {
            title: 'Informations',
            items: [
                ['A propos de nous','app_front_home'],
                ['Contact','app_front_home'],
            ],
            social: true
        }) }}
    </div>

    <div class="text-center">
        <p>© Copyright 2024 - Jey</p>
        <p>Réalisé par <a class="font-bold hover:underline" href="https://www.linkedin.com/in/romain-vach%C3%A9-75164b199/" target="_blank">VACHÉ Romain</a></p>
    </div>
</footer>

