{% extends '/front/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block body %}
    <div class="bg-secondary flex py-10 px-40 mb-20">
        <div class="w-1/2 py-40">
            <h1 class="text-5xl font-bold mb-8">Rejoint la communauté <span class="text-primary">Jey.</span> dès maintenant !</h1>
            <p class="mb-8 w-10/12">Le premier marché en ligne 100% spécialisée dans la revente ou l'échange de <span class="font-bold text-primary">maillots de sports</span> d'occasion & de collection. 🤝</p>
            <div class="flex items-center">
                {{ component('Global:Button', { tag: 'a', text: 'Vendre un maillot', route: 'app_register', class: 'primary', size: 'text-lg' }) }}
                <p class="text-lg font-bold text-primary">En savoir plus</p>
            </div>
        </div>
        <div class="w-1/2 flex justify-center">
            {# <img src="https://media.discordapp.net/attachments/1138005016670634014/1206883905802870864/AdobeStock_579193238-Converti.png?ex=65dda139&is=65cb2c39&hm=7385febb4eea652245a78abd311a5a8238d9f07298b0ee77c3488963de32c0cc&=&format=webp&quality=lossless&width=589&height=589"> #}
            <img width="500px" src="/img/undraw_fans.svg">
        </div>
    </div>

    <div class="container mx-auto w-1/2 text-center mb-20">
        <h2 class="text-3xl font-bold mb-8"><span class="bg-primary text-secondary px-4 py-1">Jey,</span> la toute nouvelle plateforme qui redéfinit la façon dont vous achetez & vendez des maillots de sport de vos équipes favorites !</h2>
        <p>De la NBA en passant par la Ligue 1, le Top 14 ou la NFL, trouvez votre prochain <span class="bg-primary font-bold text-secondary px-4 py-1">trésor sportif</span> sur Jey - où chaque maillot a une histoire à raconter.</p>
    </div>

    <div class="container px-20 mx-auto py-2 mb-20">
        {{ component('Front:Product:ProductListing', { title: "Maillots populaires", listing : 'bestProducts', cols: 5 }) }}

        {{ component('Front:Product:ProductListing', { title: "Derniers maillots ajoutés", listing : 'lastProducts', cols: 5 }) }}
    </div>
{% endblock %}