<form method="post" action="{{ path('app_admin_subscription_delete', {'id': subscription.id}) }}"
      onsubmit="return confirm('Voulez vous vraiment supprimer cet abonnement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ subscription.id) }}">
    {{ component('Global:Button',{
        tag: 'button',
        text: 'Supprimer',
        class: 'delete'
    }) }}
</form>
