<form method="post" action="{{ path('app_admin_product_delete', {'id': product.id}) }}"
      onsubmit="return confirm('Voulez vous vraiment supprimer cette annonce ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
    {{ component('Global:Button',{
        tag: 'button',
        text: 'Supprimer',
        class: 'delete'
    }) }}
</form>
