{% extends '/back/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block body %}
    <h2 class="fs-22 mb-4">Joueurs</h2>
    <div class="table-back mb-4">
        <div class="header-blue d-flex align-items-center">
            <a class="btn-gold-plein" href="{{ path('app_back_player_new') }}">Ajouter un joueur</a>
            <a class="btn-gold-plein">Filtrer</a>
        </div>
        <div class="container w-100 py-3 px-5 m-0">
            {% include 'back/table.html.twig' with {
                'titles': ['Id','Nom','Prenom',''],
                'cols' : ['col-1','col-2','col-2','col-7'],
                'datas' : datas,
                'features' : ['','','','d-flex justify-content-end'],
                'url' : 'app_back_player_edit'
            }
            %}
        </div>
    </div>
{% endblock %}