<div class="bg-fullwhite rounded">
    <div class="p-4">
        <p class="text-xl text-primary font-bold">Vos derniers messages</p>
        <p>avec d’autres utilisateurs</p>
    </div>
    <div class="flex flex-col gap-y-2 h-[595px] overflow-y-scroll">
        {% for conversation in this.conversations|sort((a, b) => b.updatedAt <=> a.updatedAt) %}
            {% if conversation_display is defined %}
                {{ component('Front:Conversation:ConversationItem', { conversation: conversation, conversation_display:conversation_display }) }}
            {% else %}
                {{ component('Front:Conversation:ConversationItem', { conversation: conversation }) }}
            {% endif %}
        {% endfor %}
    </div>
</div>