{% extends '/admin/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block body %}
    <h2 class="fs-22 mb-4">Marques</h2>
    <div class="table-back mb-4 ">
        {{ component('Admin:Table:Header', {buttons:[
            { tag: 'a', text: 'Ajouter une marque', route: 'app_admin_brand_new', class: 'secondaryadmin' },
            { tag: 'a', text: 'Filtrer', class: 'secondaryadmin' }
        ]}) }}
        {{ component('Admin:Table:Table', {
            titles: ['Id','Nom',''],
            cols: ['col-span-1','col-span-10','col-span-1'],
            datas: datas,
            features: ['','','d-flex justify-end'],
            url: 'app_admin_brand_edit'
        }) }}
    </div>
{% endblock %}