<form method="post" action="{{ path('app_admin_alert_delete', {'id': alert.id}) }}"
      onsubmit="return confirm('Voulez vous vraiment supprimer ce signalement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ alert.id) }}">
    {{ component('Global:Button',{
        tag: 'button',
        text: 'Supprimer',
        class: 'delete'
    }) }}
</form>
