{% extends '/front/base.html.twig' %}

{% block title %}Jey{% endblock %}

{% block body %}
    {% set items = [
        [user.pseudo, 'app_front_user_show', {pseudo: user.pseudo}],
        ['Abonnés', 'app_front_user_show_followers', {pseudo: user.pseudo}]
    ] %}
    {{ component('Front:Breadcrumb:Breadcrumb', { items: items }) }}

    <div class="container mx-auto px-2 py-6 mb-20 lg:w-3/4">
        <div class="bg-fullwhite w-full p-4 md:p-8">
            <p class="text-xl text-primary font-bold mb-4">Abonnés de {{ component('Global:User:LinkUser', { pseudo: user.pseudo }) }}</p>
            {% if user.followers|length != 0 %}
                {{ component('Front:Subscription:SubscriptionList', { user: user, type: 'follower' }) }}
            {% else %}
                <p>Pour le moment, {{ component('Global:User:LinkUser', { pseudo: user.pseudo }) }} ne possède pas d'abonnés</p>
            {% endif %}
        </div>
    </div>

{% endblock %}